// Place all the styles related to the Reservations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// variables

$row_header: 100px;
$hour_header: 24px;
$number_half_hours: 30;

#calendar {
  .day {

    margin-bottom: 20px;
    position: relative;

    table {
      border-collapse: separate;
      border-spacing: 0;
      font-family: "Lucida Grande", arial, helvetica, sans-serif;

      td {
        font-size: 10px;
        padding: 0;
        width: $hour_header;
        height: 40px;
        color: #AAA;
      }

      tr {
        &.header{

          td{
            border: 0 solid transparent;
            text-align: center;
            height: 15px;
          }
        }

        &.spacer {
          td {
            border: 0 solid transparent;
            height: 5px;
          }
        }

        &.time {
          td{
            border: 1px solid #B4DEC3;
            border-left: 0;
            background: #D1EDCE;

            &:nth-child(0n+2) {
                border-left: 1px solid #B4DEC3;
                border-top-left-radius: 5px; 
                border-bottom-left-radius: 5px;
            }

            &:last-child {
                border-right-style: solid;
                border-bottom-right-radius: 5px; 
                border-top-right-radius: 5px; 
            }

            &.row-header{
              width: $row-header;
              background: none;
              color: #666;
              padding-right: 10px;
              text-align: right;
              border: 0;

              span {
                font-weight: bold;
              }
            }
          }
        }
      } // End table
    }

    .event {
      position: absolute;
      margin: 0;
      padding: 0;
      top: 35px;
      height: 40px;
      font-size: 10px;
      line-height: 150%;
      border-radius: 3px;

      &.reservation{
        background: #F58C9F;
        border: solid 1px #B3364D;
        color: #96293D;
      }

      &.not-available {
        background: image_url("stripe_not_available.png") #BBB repeat fixed;
        border: 1px solid #888;
      }

      a{
        text-decoration: none;
        color: white;
        font-weight: bold;
      }
    }
  }
}

#reservations .calendar {
  border-collapse: collapse;
//  width: $calendar_width;

  td, th {
    font-family: "Lucida Grande", arial, helvetica, sans-serif;
    font-size: 10px;
    padding: 0 2px;
    border: 1px solid #CCC;
  }

  th {
    background: #DDD;
    color: #666;
    text-align: center;
    width: 14.2857142857143%;
  }

  td {
    background: #FFF;
    color: #777;
    vertical-align: top;
    font-size: 16px;

    &.day_header{
    	text-align: center;
    	background: #DDD;
    	font-size: 10px;
    	&.today{ background-color: #D7F2FF; }
    }
  }

  .notmonth, .notmonth a { color: #CCC; }
  .today { background-color: #D7F2FF; }
}

.reservation{
  background: #F58C9F;
  border: solid 1px #B3364D;
  margin: 5px 0;
  padding: 5px;
  color: #96293D;
  font-size: 10px;
  line-height: 150%;
  border-radius: 3px;

  a{
    text-decoration: none;
    color: white;
    font-weight: bold;
  }
}

#reservations #month {
  margin: 0;
  padding-bottom: 10px;
  text-align: center;
  font-size: 22px;
  a {
    text-decoration: none;
    padding: 0 10px;
    color: #999;
  }
}

#reservations ul {
  font-size: 11px;
  padding-left: 20px;
}